<header>
    <div class="header">
      <div class="site-title">AKINO'S PORTFOLIO</div>
      <div class="category">
        <ul id="tabcontrol">
          <li><input type="radio" name="tabset" id="tabcheck1" checked><label for="tabcheck1" class="tab"><%= link_to "PROFILE", root_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab"><%= link_to "PORTFOLIO & SKILL SET", portfolio_index_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck4"        ><label for="tabcheck4" class="tab"><%= link_to "CONTACT", new_contact_path %></label></li>
        </ul>
        </div>
    </div>
    </div>
</header>
<div class="page-header">
    <div class= "contact">PROFILE</div>
</div>
<div class="profile-main">
  <div class="my-img">
    <div class="user-img"></div>
  </div>
  <div class="my-profile">
    <div class="name">木村 秋乃</div>
    <div class="content">
      <p>大分生まれ佐賀育ちの２１歳です。</p>
      <p>佐賀清和高等学校 情報ビジネス科(商業科)に高校卒業後、ブラックモンブランで有名な竹下製菓株式会社に新卒で入社しました。アイスの製造ラインで作業の他にも、新入社員や技能実習生の指導係として指導をしていました。</p>
      <p>プログラミングを勉強するためTECH::CAMPに入学しました。</p>
    </div>
    <div class="title">＊エンジニアになろうと思った経緯＊</div>
    <div class="content">
      <p>近頃では、スマートフォンやタブレットなどで当たり前のようにプログラミングされた物を使うことができます。生活の一部になっているプログラミングに興味が出てきて勉強をしてみたいと感じるようになりました。</p>
      <p>勉強していく中で、思うように実装できずに大変だったこともありましたが、エラー内容で検索してみたり、基礎知識を見直すために参考書見直しみたりして何度もトライアンドエラーを繰り返すことで実装できたときにやりがいを感じる様になりました。その様にやりがいを感じられるプログラミングを仕事にしたいと思いました。</p>
    </div>
    <div class="title">＊性格＊</div>
    <div class="content">
      <p class="sub-title">協調性がある</p>
        <p>学生時代は部活動の女子キャプテンや学級委員長などをしており、そういった経験から人の意見をまとめたり、相手の立場に立って物事を考えて行動したりすることが得意です。</p>
        <p class="bottom">前職でも同僚が上司に発言しづらいと相談を受けることが多くありました。その際には自ら率先して会話をすることで同僚も意見を発信しやすい環境を作るよう心掛けていました。</p>
        
      <p class="sub-title">好奇心が旺盛</p>
        <p>幼少期からキャンプや魚釣り、旅行によく行っていたこともあり、いろんなことを感じたり知ったりすることが好きです。</p>
        <p >１３年間続けた剣道でも先輩や先生に上手になる方法を相談したり、自分で技の出し方を工夫したりすることが好きで、自分が考えた方法で試合で１本が決った時は達成感を感じることができました。</p>
        <p class="bottom">社会人になってからもハンドメイドや読書などたくさんのことに興味を持ち、日々の生活を楽しんでいます。</p>
        
      <p class="sub-title">素直</p>
        <p>私は人によく素直な人だと言われます。</p>
        <p>人や物事に偏見を持たず、周囲からのアドバイスを聞き入れることができるので、自分の中にない知識を受け入れ、取り入れていくことができます。</p>
        <p>職務中にご指導受けた際にも、素直に受け入れ改善することができます。</p>
        <p class="bottom">しかし、他人の言葉をすぐに信じてしまうところがあるので、たくさんの意見を聞き、いろんな角度から物事を考えるように心がけてます。</p>
    </div>
  
  </div>
</div>