<header>
    <div class="header">
      <div class="site-title">AKINO'S PORTFOLIO</div>
      <div class="category">
        <ul id="tabcontrol">
          <li><input type="radio" name="tabset" id="tabcheck1" checked><label for="tabcheck1" class="tab"><%= link_to "PROFILE", root_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab">PORTFOLIO</label></li>
          <li><input type="radio" name="tabset" id="tabcheck3"        ><label for="tabcheck3" class="tab"><%= link_to "SKILL SET", top_skillset_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck4"        ><label for="tabcheck4" class="tab"><%= link_to "CONTACT", new_contact_path %></label></li>
        </ul>
        </div>
    </div>
    </div>
</header>
<div class="page-header">
    <div class= "contact">PROFILE</h1>
</div>
<div class="profile-main">
  <div class="my-img">
    <div class="user-img"></div>
  </div>
  <div class="my-profile">
    <div class="name">木村 秋乃</div>
    <div class="content">
      <p>大分生まれ佐賀育ちの２１歳です。</p>
      <p>佐賀清和高等学校 情報ビジネス科(商業科)に高校卒業後、ブラックモンブランで有名な竹下製菓株式会社に新卒で入社しました。アイスの製造ラインで作業の他にも、新入社員や技能実習生の指導係として指導をしていました。</p>
      <p>プログラミングに興味があり、もっと挑戦できる仕事をしたいと感じプログラミングを勉強すめTECH::CAMPに入学しました。</p>
    </div>
    <div class="title">＊性格＊</div>
    <div class="content">
      <p class="sub-title">協調性がある</p>
      <p>学生時代は部活動の女子キャプテンや学級委員長などをしており、そういった経験からたくさんの人の意見をまとめることや相手立場に立って物事を考えて行動することが得意です。</p>
      <p class="bottom">前職でも同僚が上司に発言しづらいと相談を受けることが多くありました。私は、もっと双方が意見しすい環境を作るために率先して意見や会話をするように心掛けていました。</p>
      
      <p class="sub-title">好奇心が旺盛</p>
      <p>幼少期からキャンプや魚釣り、旅行によくいっていたこともあり、いろんなことを感じたりしったりすることが好きです。</p>
      <p class="bottom">１３年間続けた剣道でも先輩や先生に上手になる方法を相談したり、自分で技の出し方を工夫したりすることが好きで、自分が考えた方法で試合で１本が決った時はとても嬉しく思いました。</p>

      <p class="sub-title">多角的・多面的に物事を考えることができる</p>
      <p>物事を正面からだけでなく、いろんな角度から見ることが得意です。</p>
      <p class="bottom"></p>
      <p class="sub-title">素直</p>
      <p>私は人によく素直だと言われます。</p>

    </div>
  </div>
</div>