<header>
  <div class="header">
    <div class="site-title">AKINO'S PORTFOLIO</div>
    <div class="category">
      <ul>
        <li>PROFILE</li>
        <li>WORKS</li>
        <li>SKILL SET</li>
        <li>CONTACT</li>
      </ul>
  </div>

  </div>
</header>
