<header>
    <div class="header">
      <div class="site-title">AKINO'S PORTFOLIO</div>
      <div class="category">
        <ul id="tabcontrol">
          <li><input type="radio" name="tabset" id="tabcheck1"        ><label for="tabcheck1" class="tab"><%= link_to "PROFILE", root_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab">PORTFOLIO</label></li>
          <li><input type="radio" name="tabset" id="tabcheck3" checked><label for="tabcheck3" class="tab"><%= link_to "SKILL SET", top_skillset_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck4"        ><label for="tabcheck4" class="tab"><%= link_to "CONTACT", new_contact_path %></label></li>
        </ul>
        </div>
    </div>
    </div>
</header>
<div class="page-header">
    <div class= "contact">SKILL SET</h1>
</div>