
.portfolio-show{
  height: 100%;
  background-color: rgb(252, 252, 248);
}
.portfolio-list{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  &_main{
    font-family: 'Vollkorn', serif;
    margin: 5px;
    padding-top: 10px;
    width: 300px;
    background-color: rgb(231, 243, 252);
    display: inline-block;
    a{text-decoration: none;
      color: black;
      dilay: inline-block;
      
    }
    
    img{
      height: 200px;
    }
    &-name{
      padding-top: 10px;
      font-size: 40px;
      
    }
    &-short_statement{
      padding: 5px;
      font-size: 20px;
    }
  }
}
.portfolio_img{
  display: flex;
  justify-content: space-around;
  img{
    width: 250px;
    min-width: 10px;
    padding: 0 10px;
  }
}
.portfolio_information{
  font-family: 'Vollkorn', serif;
  margin:50px auto;
  width: 85%;
  min-width: 100px;
  font-size: 20px;
  
}
.title{
    margin: 50px 0 10px 0;
    text-align: left;
    font-size: 30px;
  }
.portfolio_language{
  font-family: 'Vollkorn', serif;
  margin:50px auto;
  width: 85%;
  min-width: 100px;
  font-size: 25px;
  
}
.portfolio_url{
  .no-deploy{
    margin: 25px;
    font-size: 15px;
  }
  display: flex;
  justify-content: center;
  font-size: 35px;
  i{
    color: royalblue;
    text-decoration: none;
    padding: 20px 40px;
  }
}
.btn{
  display: flex;
  justify-content: center;
  margin: 30px;
  .return{
    display: inline-block; 
    border-radius: 2.5em; 
    padding: 1em;                 
    color:#fff;     
    background-color:rgb(14, 192, 216);    
    font-weight: bold;  
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  .return:hover{
    background:rgb(245, 59, 75);
  }
}